@page
@model PrivacyModel
@{
    ViewData["Title"] = "Integrantes";
}
<h1>@ViewData["Title"]</h1>
<img src="~/grupoN1.jpeg" />
<p>Este proyecto fue creado por los integrantes del grupo 1 de la asignatura electiva de IDE 2021.</p>