@page
@model CatadorDeComentarios.Pages.tablaPalabrasModel
@{
}

<p style="text-align: center;"><span style="text-decoration: underline; background-color: #ffffff; color: #ff6600;">Algunos Ejemplos:</span></p>
<table border="1" style="border-collapse: collapse; width: 100%; height: 84px;">
    <tbody>
        <tr style="height: 21px;">
            <td style="width: 50%; text-align: center; height: 21px;"><span style="color: #008000;"><strong>Buenos Comentarios</strong></span></td>
            <td style="width: 50%; text-align: center; height: 21px;"><span style="color: #ff0000;"><strong>Malos Comentarios</strong></span></td>
        </tr>
        <tr style="height: 21px;">
            <td style="width: 50%; text-align: center; height: 21px;">i need help</td>
            <td style="width: 50%; text-align: center; height: 21px;"><span>are you threatening me?</span></td>
        </tr>
        <tr style="height: 21px;">
            <td style="width: 50%; text-align: center; height: 21px;">I know you listed your English as on the ""level 2"",
                                                                      but don't worry, you seem to be doing nicely otherwise, judging by the same page 
                                                                      - so don't be taken aback. I just wanted to know if you were aware of what you wrote,
                                                                      and think it's an interesting case. : I would write that sentence simply as
                                                                      "Theoretically I am an altruist, but only by word, not by my actions.". : PS.
                                                                       You can reply to me on this same page, as I have it on my watchlist.  "</td>
            <td style="width: 50%; text-align: center; height: 21px;">it is a shame</td>
        </tr>
        <tr style="height: 21px;">
            <td style="width: 50%; text-align: center; height: 21px;">the page is nice</td>
            <td style="width: 50%; text-align: center; height: 21px;">this page is boring</td>
        </tr>
    </tbody>
</table>